#b1, #b2, #b3, #b4{
    display: inline-block;
    background-color: orange;
    color: white;
    font-size: 10px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;

}

#storytext{
    position: absolute;
    bottom: 100px;
    top: 0px;
    left: 56%;
    right: 0px;
    justify-content: center;
    padding: 8px;

}

#container{
    position: absolute;
    top: 75px;
    bottom: 4px;
    left: 8px;
    right: 8px;
    background-color: lightseagreen;

}

#leftpane{
    width: 56%;
    height: 100%;
    float: left;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: ;
}

#rightpane{
    width: 40%;
    height: 100%;
    float: right;
    align-items:center;
    display:flex;
    background-color:;
}

#choices{
    position: absolute;
    bottom: 0px;
    height: 50px; 
    left: 56%;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: ;

}

#ptext1, #ptext2, #ptext3, #ptext4{
    color: white;

}

#storyimg{
    max-height:97%;
    max-width: 97%;
    width: 97%;
}